.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1c1c1c;
}

.App-link {
  color: #F63C58;
}
a.ial {
  color: #ffffff;
    background-color: #F63C58;
    padding: 12px 25px;
    border-radius: 35px;
    text-decoration: none;
    max-width: 320px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 48px #f63c5893;
    text-transform: uppercase;
    font-size: large;
    font-family: 'Oswald', sans-serif;
}
a.ial:hover img {
  margin-left: 25px;
  padding-right: 0px;
}
.ial img {
  max-height: 28px;
  margin-left: 15px;
  padding-right: 10px;
  transition: 0.3s ease;
}
.margium {
  max-width: 720px;
  display: block;
  margin: 0px auto;
}
header {
  padding: 15px;
}
.App svg {
  max-height: 550px;
}

::selection {
  color: #202020;
  background:#dfdfdf;
}






.exos-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exo-superior {
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exo-inferior {
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50px 50px 0px 0px;
  box-shadow: 0px -15px 20px rgba(0,0,0,0.15);
}

.PlayPauseButton {
  background: red;
  width: 8vh;
  height: 8vh;
  border-radius: 100px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
  display :flex;
  align-items: center;
  justify-content: center;
}

.PlayPauseButton img {
  width: 30%;
}

.loaderContainer {
  height: 1vh;
  width: 80%;
  background: #dedede;
  margin-top : 3vh;
  border-radius: 100px;
}

.loaderBar {
  background: red;
  width: 80%;
  height: 100%;
  border-radius: 100px;
}

.exo-detailTxt {
  padding:3%;
}

.exo-detailTxt h3 {
  font-size: 8vw;
}
